<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stuff Uwaterloo Professors Say</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Paper Bootstrap theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Moment -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js">
        </script>

        <!-- Boostrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- boostrap-datetime-picker -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js">
        </script>

        <!-- Snackbar -->
        <link rel="stylesheet" href="static/css/snackbar.min.css" />
        <script src="static/js/snackbar.min.js">
        </script>

        <!-- Style -->
        <link rel="stylesheet" href="static/css/style.css" />
        <!-- Script -->
        <script src="static/js/script.js">
        </script>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <a href="https://www.facebook.com/stuffuwaterlooprofssay/">
                    <h3>Stuff Uwaterloo Professors Say</h3>
                </a>
            </div>
            
            <form method="post" action="/">
                <fieldset>
                    <div class="form-group" name="quote">
                        <label for="quote">Quote</label>
                        <textarea required class="form-control" name="quote" placeholder="Quote"></textarea>
                    </div>

                    <div class="form-group" name="prof">
                        <label for="prof">Professor</label>
                        <input type="text" required class="form-control" name="prof" placeholder="Professor"/>
                    </div>

                    <div class="form-group" name="course">
                        <label for="course">Course</label>
                        <input type="text" required class="form-control" name="course" placeholder="Course"/>
                    </div>

                    <div class="form-group" name="caption">
                        <label for="caption">Caption</label>
                        <input type="text" class="form-control" name="caption" placeholder="Caption (optional)"/>
                    </div>

                    <div class="form-group" name="datetime">
                        <label for="datetime">Scheduled Time</label>
                        <div class='input-group date' id='datetime'>
                            <input type='text' class="form-control" name="datetime" placeholder="Scheduled Time (optional)" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group" name="password">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" required class="form-control" name="password" placeholder="Password"/>
                    </div>

                    <div class="btn-toolbar">
                        <button type="submit" class="btn btn-primary" data-loading-text="Submitting...">Submit</button>

                        <button type="button" class="btn btn-default">Clear fields</button>
                    </div>
                </fieldset>
            </form>

            <footer>
            </footer>
        </div>
    </body>
</html>
 