<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stuff Uwaterloo Professors Say</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="theme-color" content="#2196F3">

        <!-- Paper Bootstrap theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" />

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Boostrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>

        <!-- Style -->
        <link rel="stylesheet" href="static/css/style.css" />

        <!-- Script -->
        <script src="static/js/login.js">
        </script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="true">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Stuff Uwaterloo Profs Say</a>
                    </div>
                </div>
            </nav>
            
            <form method="post" action="/login">
                <fieldset>
                    <div class="form-group" name="username">
                        <label for="username">Username</label>
                        <input type="text" required class="form-control" name="username" placeholder="Username" />
                    </div>

                    <div class="form-group" name="password">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" required class="form-control" name="password" placeholder="Password" />
                    </div>

                    <div class="form-group" name="rememberme">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="remebmerme"> Remember me
                            </label>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary" data-loading-text="Logging In...">Log In</button>
                </fieldset>
            </form>
        </div>
    </body>
</html>
 