<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stuff Uwaterloo Professors Say</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="theme-color" content="#2196F3">

        <!-- Paper Bootstrap theme -->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/materia/bootstrap.min.css" rel="stylesheet" integrity="sha384-5bFGNjwF8onKXzNbIcKR8ABhxicw+SC1sjTh6vhSbIbtVgUuVTm2qBZ4AaHc7Xr9" crossorigin="anonymous">

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
        </script>

        <!-- Moment -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js">
        </script>

        <!-- Boostrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
        </script>

        <!-- Font Awesome -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <!-- Tempus Dominus -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

        <!-- Snackbar -->
        <link rel="stylesheet" href="static/css/snackbar.min.css" />
        <script src="static/js/snackbar.min.js">
        </script>

        <!-- Style -->
        <link rel="stylesheet" href="static/css/style.css" />

        <!-- Script -->
        <script src="static/js/index.js">
        </script>
    </head>
    <body>
        <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="/">Stuff Uwaterloo Profs Say</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" target="__blank" href="{{ 'https://www.facebook.com/%s/inbox/' % config['PAGE_ID'] }}">Inbox</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="__blank" href="{{ 'https://www.facebook.com/%s/publishing_tools/?section=SCHEDULED_POSTS&sort[0]=scheduled_publish_time_ascending' % config['PAGE_ID'] }}">Scheduled Posts</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="logout">{{ current_user.username }} <span class="caret"></span></a>
                            <div class="dropdown-menu" aria-labelledby="logout">
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <form method="post" action="/">
                <fieldset>
                    <div class="form-group row" name="quote">
                        <label class="col-sm-12" for="quote">Quote</label>
                        <div class="col-sm-12">
                            <textarea rows="4" required class="form-control" name="quote" placeholder="Quote"></textarea>
                        </div>
                    </div>

                    <div class="form-group row" name="prof">
                        <label class="col-sm-12" for="prof">Professor</label>
                        <div class="col-sm-12">
                            <input type="text" required class="form-control" name="prof" placeholder="Professor" />
                        </div>
                    </div>

                    <div class="form-group row" name="isprof">
                        <div class="col-sm-12">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="isprof" checked>
                                    Professor?
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" name="course">
                        <label class="col-sm-12" for="course">Course</label>
                        <div class="col-sm-12">
                            <input type="text" required class="form-control" name="course" placeholder="Course" />
                        </div>
                    </div>

                    <div class="form-group row" name="caption">
                        <label class="col-sm-12" for="caption">Caption</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="caption" placeholder="Caption (optional)" />
                        </div>
                    </div>

                    <div class="form-group row" name="datetime">
                        <label class="col-sm-12" for="datetime">Scheduled Time</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control datetimepicker-input" id="datetimepicker" name="datetime" data-toggle="datetimepicker" data-target="#datetimepicker" placeholder="Scheduled Time (optional)" />
                        </div>
                    </div>

                    <p class="bs-component">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-default">Clear fields</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </body>
</html>

