<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stuff Uwaterloo Professors Say</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="theme-color" content="#2196F3">

        <!-- Paper Bootstrap theme -->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/materia/bootstrap.min.css" rel="stylesheet" integrity="sha384-5bFGNjwF8onKXzNbIcKR8ABhxicw+SC1sjTh6vhSbIbtVgUuVTm2qBZ4AaHc7Xr9" crossorigin="anonymous">

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
        </script>

        <!-- Boostrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
        </script>

        <!-- Style -->
        <link rel="stylesheet" href="static/css/style.css" />

        <!-- Script -->
        <script src="static/js/login.js">
        </script>
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Stuff Uwaterloo Profs Say</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" target="__blank" href="{{ 'https://www.facebook.com/%s/inbox/' % config['PAGE_ID'] }}">Inbox</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="__blank" href="{{ 'https://www.facebook.com/%s/publishing_tools/?section=SCHEDULED_POSTS&sort[0]=scheduled_publish_time_ascending' % config['PAGE_ID'] }}">Scheduled Posts</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="logout">{{ current_user.username }} <span class="caret"></span></a>
                                <div class="dropdown-menu" aria-labelledby="logout">
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <form method="post" action="/register">
                <fieldset>
                    <div class="form-group" name="username">
                        <label for="username">Username</label>
                        <input type="text" required class="form-control" name="username" placeholder="Username" />
                    </div>

                    <div class="form-group" name="password">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" required class="form-control" name="password" placeholder="Password" />
                    </div>

                    <button type="submit" class="btn btn-primary">Register</button>
                </fieldset>
            </form>
        </div>
    </body>
</html>
