<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stuff Uwaterloo Professors Say</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="theme-color" content="#2196F3">

        <!-- Paper Bootstrap theme -->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/materia/bootstrap.min.css" rel="stylesheet" integrity="sha384-5bFGNjwF8onKXzNbIcKR8ABhxicw+SC1sjTh6vhSbIbtVgUuVTm2qBZ4AaHc7Xr9" crossorigin="anonymous">

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
        </script>

        <!-- Boostrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
        </script>

        <!-- Style -->
        <link rel="stylesheet" href="static/css/style.css" />

        <!-- Script -->
        <script src="static/js/login.js">
        </script>
    </head>
    <body>
        <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="/">Stuff Uwaterloo Profs Say</a>
            </div>
        </div>

        <div class="container">
            <form method="post" action="/register">
                <fieldset>
                    <div class="form-group row" name="username">
                        <label class="col-sm-12" for="username">Username</label>
                        <div class="col-sm-12">
                            <input type="text" required class="form-control" name="username" placeholder="Username" />
                        </div>
                    </div>

                    <div class="form-group row" name="password">
                        <label class="col-sm-12" for="password">Password</label>
                        <div class="col-sm-12">
                            <input type="password" required class="form-control" name="password" placeholder="Password" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Register</button>
                </fieldset>
            </form>
        </div>
    </body>
</html>
